AutomaticALM/SolutionPackage/src/Workflows/10-Main-Scheduler-B8A8D226-C558-EF11-A317-000D3A307E6B.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "dyna_sharedcommondataserviceforapps_c708f"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Recurrence": {
          "type": "Recurrence",
          "recurrence": {
            "frequency": "Week",
            "interval": 1,
            "startTime": "2024-08-01T08:00:00Z",
            "schedule": {
              "weekDays": [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
                "Sunday"
              ],
              "hours": [
                "0",
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9",
                "10",
                "11",
                "12",
                "13",
                "14",
                "15",
                "16",
                "17",
                "18",
                "19",
                "20",
                "21",
                "23",
                "22"
              ],
              "minutes": [
                0,
                30
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "6e399d45-445f-48dd-bc1e-d14ead8859bc"
          }
        }
      },
      "actions": {
        "List_Deployments_in_Scheduling_only": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "dyna_almdeployments",
              "$filter": "dyna_type eq 538000002 and statuscode ne 1"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "utcNow": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "eff41fcd-4ab6-42df-b0f6-0a59603c8fed"
          }
        },
        "For_each": {
          "type": "Foreach",
          "foreach": "@outputs('List_Deployments_in_Scheduling_only')?['body/value']",
          "actions": {
            "Check_if_there_is_deployment_to_be_launched_or_not": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@items('For_each')?['dyna_type']",
                      538000002
                    ]
                  },
                  {
                    "equals": [
                      "@item()?['statecode']",
                      0
                    ]
                  },
                  {
                    "or": [
                      {
                        "equals": [
                          "@item()?['statuscode']",
                          538000001
                        ]
                      },
                      {
                        "equals": [
                          "@item()?['statuscode']",
                          538000002
                        ]
                      }
                    ]
                  }
                ]
              },
              "actions": {
                "First_time_or_not": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@item()?['statuscode']",
                            538000001
                          ]
                        }
                      }
                    ]
                  },
                  "actions": {
                    "Switch": {
                      "type": "Switch",
                      "expression": "@outputs('ForSwitch')",
                      "default": {
                        "actions": {}
                      },
                      "cases": {
                        "Hour": {
                          "actions": {
                            "Set_variable": {
                              "type": "SetVariable",
                              "inputs": {
                                "name": "FinalDateTime",
                                "value": "@addHours(variables('compareDateTime'),int(outputs('Duration')))"
                              },
                              "metadata": {
                                "operationMetadataId": "9f68ae0b-d48d-4379-980a-a4feb1c5cabb"
                              }
                            }
                          },
                          "case": "H"
                        },
                        "Day": {
                          "actions": {
                            "Set_variable_2": {
                              "type": "SetVariable",
                              "inputs": {
                                "name": "FinalDateTime",
                                "value": "@addDays(variables('compareDateTime'),int(outputs('Duration')))"
                              },
                              "metadata": {
                                "operationMetadataId": "47643895-0e84-41a5-83db-c57ba4e1917c"
                              }
                            }
                          },
                          "case": "D"
                        },
                        "Week": {
                          "actions": {
                            "Set_variable_3": {
                              "type": "SetVariable",
                              "inputs": {
                                "name": "FinalDateTime",
                                "value": "@addDays(variables('compareDateTime'),mul(7,int(outputs('Duration'))))"
                              },
                              "metadata": {
                                "operationMetadataId": "f961b083-0792-4ada-be5e-cd61d9167bf5"
                              }
                            }
                          },
                          "case": "W"
                        },
                        "Minutes": {
                          "actions": {
                            "Set_variable_4": {
                              "type": "SetVariable",
                              "inputs": {
                                "name": "FinalDateTime",
                                "value": "@addMinutes(variables('compareDateTime'),int(outputs('Duration')))"
                              },
                              "metadata": {
                                "operationMetadataId": "367b2eca-a14d-4668-ae3d-28138d36b398"
                              }
                            }
                          },
                          "case": "M"
                        }
                      },
                      "runAfter": {
                        "ForSwitch": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "9cfceb7e-4703-482a-aa04-596f89942869"
                      }
                    },
                    "FormatScheduler": {
                      "type": "Compose",
                      "inputs": "@item()?['dyna_formatscheduler']",
                      "metadata": {
                        "operationMetadataId": "41a02f56-6202-44ee-aaa2-3eeb95bb2f7f"
                      }
                    },
                    "ForSwitch": {
                      "type": "Compose",
                      "inputs": "@substring(outputs('FormatScheduler'),sub(outputs('LengthFormatScheduler'),1),1)",
                      "runAfter": {
                        "Duration": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "be48803e-21d4-4439-842e-fdb0844fb5a6"
                      }
                    },
                    "LengthFormatScheduler": {
                      "type": "Compose",
                      "inputs": "@length(outputs('FormatScheduler'))",
                      "runAfter": {
                        "FormatScheduler": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "47a3e29a-b401-4eab-bc2a-7cc6a993944b"
                      }
                    },
                    "Duration": {
                      "type": "Compose",
                      "inputs": "@substring(outputs('FormatScheduler'),2,sub(outputs('LengthFormatScheduler'),3))",
                      "runAfter": {
                        "LengthFormatScheduler": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "b14868bf-e376-40e1-b71a-ac33301bc710"
                      }
                    },
                    "Condition_to_Verify_Deployment": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "greater": [
                              "@variables('currentDateTime')",
                              "@variables('FinalDateTime')"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Set_LaunchDeployment": {
                          "type": "SetVariable",
                          "inputs": {
                            "name": "LaunchDeployment",
                            "value": true
                          },
                          "metadata": {
                            "operationMetadataId": "e69cfe5e-1da2-4871-93b5-4d8f0ae502f6"
                          }
                        }
                      },
                      "else": {
                        "actions": {
                          "Set_LaunchDeployment_2": {
                            "type": "SetVariable",
                            "inputs": {
                              "name": "LaunchDeployment",
                              "value": false
                            },
                            "metadata": {
                              "operationMetadataId": "34a9f231-af76-4f71-b561-d0b9997a7af4"
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Switch": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f3b0fc4c-19b0-4ede-b8be-933429513f08"
                      }
                    }
                  },
                  "else": {
                    "actions": {
                      "Delay_Until": {
                        "type": "Wait",
                        "inputs": {
                          "until": {
                            "timestamp": "@item()?['dyna_begindatetime']"
                          }
                        },
                        "runAfter": {
                          "Update_a_row": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "84d8154f-ccc9-4a81-bb50-68e9318a3dd3"
                        }
                      },
                      "Update_a_row": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "dyna_almdeployments",
                            "recordId": "@item()?['dyna_almdeploymentid']",
                            "item/statuscode": 538000002
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "operationId": "UpdateRecord",
                            "connectionName": "shared_commondataserviceforapps"
                          }
                        },
                        "metadata": {
                          "operationMetadataId": "869671e1-4476-4b8d-baaa-80eb20908979"
                        }
                      },
                      "Set_LaunchDeployment_3": {
                        "type": "SetVariable",
                        "inputs": {
                          "name": "LaunchDeployment",
                          "value": true
                        },
                        "runAfter": {
                          "Set_utcNow_2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "d5a9835e-01e3-4568-9185-c5357a04c62b"
                        }
                      },
                      "Set_utcNow_2": {
                        "type": "SetVariable",
                        "inputs": {
                          "name": "utcNow",
                          "value": "@utcNow()"
                        },
                        "runAfter": {
                          "Delay_Until": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "215db0e2-fa32-4f62-a31f-b9b65e4c7d00"
                        }
                      }
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "e05270bd-1e60-41d3-b7dc-47700ac93244"
                  }
                },
                "Condition_to_Launch_Deployment": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@variables('LaunchDeployment')",
                          true
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Launch_Deployment": {
                      "type": "Scope",
                      "actions": {
                        "List_Solutions_to_deploy": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "dyna_almsolutions",
                              "$filter": "_dyna_almdeployment_value eq @{variables('DeploymentId')}"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "ListRecords",
                              "connectionName": "shared_commondataserviceforapps"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "83c01d30-4409-4b77-bbdd-b8e039de8b1f"
                          }
                        },
                        "Switch_on_Delivery_Type": {
                          "type": "Switch",
                          "expression": "@variables('DeliveryType')",
                          "default": {
                            "actions": {}
                          },
                          "cases": {
                            "Validation_Test": {
                              "actions": {
                                "For_each_2": {
                                  "type": "Foreach",
                                  "foreach": "@outputs('List_Solutions_to_deploy')?['body/value']",
                                  "actions": {
                                    "Get_Solution_Name": {
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "parameters": {
                                          "entityName": "dyna_solutions",
                                          "recordId": "@item()?['_dyna_solution_value']"
                                        },
                                        "host": {
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                          "operationId": "GetItem",
                                          "connectionName": "shared_commondataserviceforapps"
                                        }
                                      },
                                      "metadata": {
                                        "operationMetadataId": "71af6085-0c74-4f54-86f0-2131439ceafe"
                                      }
                                    },
                                    "Condition_Power_Pages": {
                                      "type": "If",
                                      "expression": {
                                        "and": [
                                          {
                                            "not": {
                                              "equals": [
                                                "@item()?['_dyna_powerpages_value']",
                                                "@null"
                                              ]
                                            }
                                          }
                                        ]
                                      },
                                      "actions": {
                                        "Get_Power_Pages": {
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "parameters": {
                                              "entityName": "dyna_powerpageses",
                                              "recordId": "@item()?['_dyna_powerpages_value']"
                                            },
                                            "host": {
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                              "operationId": "GetItem",
                                              "connectionName": "shared_commondataserviceforapps"
                                            }
                                          },
                                          "metadata": {
                                            "operationMetadataId": "db26f234-9c9a-42d6-9ea4-08863a862ece"
                                          }
                                        },
                                        "Set_Power_Pages": {
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "PowerPages",
                                            "value": "@body('Get_Power_Pages')?['dyna_name']"
                                          },
                                          "runAfter": {
                                            "Get_Power_Pages": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "31b13445-5bbf-4433-9664-1cc244dfe976"
                                          }
                                        }
                                      },
                                      "else": {
                                        "actions": {}
                                      },
                                      "runAfter": {
                                        "Get_Solution_Name": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "b56d57c2-7ca7-437f-b9f5-f88150599e62"
                                      }
                                    },
                                    "Update_new_beginDateTime": {
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "parameters": {
                                          "entityName": "dyna_almdeployments",
                                          "recordId": "@variables('DeploymentId')",
                                          "item/dyna_begindatetime": "@variables('utcNow')"
                                        },
                                        "host": {
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                          "operationId": "UpdateRecord",
                                          "connectionName": "shared_commondataserviceforapps"
                                        }
                                      },
                                      "runAfter": {
                                        "Condition_Power_Pages": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "869671e1-4476-4b8d-baaa-80eb20908979"
                                      }
                                    },
                                    "Run_a_Child_Deployment_Process": {
                                      "type": "Workflow",
                                      "inputs": {
                                        "host": {
                                          "workflowReferenceName": "1fa9984d-555a-ef11-a317-00224806bd16"
                                        },
                                        "body": {
                                          "text": "QA",
                                          "text_1": "@body('Get_Solution_Name')?['dyna_name']",
                                          "text_2": "@variables('PowerPages')",
                                          "text_3": "@string(item()?['dyna_commitscope'])",
                                          "text_4": "@variables('DeploymentId')",
                                          "text_5": "@item()?['dyna_almsolutionid']",
                                          "text_6": "@variables('CommitOnly')",
                                          "text_7": "@variables('DeploymentOnly')"
                                        }
                                      },
                                      "runAfter": {
                                        "Switch_ALM_Type": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "0017728d-baf5-4ead-8532-e8cc11b0b007"
                                      }
                                    },
                                    "Switch_ALM_Type": {
                                      "type": "Switch",
                                      "expression": "@items('For_each_2')?['dyna_almtype']",
                                      "default": {
                                        "actions": {
                                          "Set_variable_10": {
                                            "type": "SetVariable",
                                            "inputs": {
                                              "name": "CommitOnly",
                                              "value": "NO"
                                            }
                                          },
                                          "Set_variable_11": {
                                            "type": "SetVariable",
                                            "inputs": {
                                              "name": "DeploymentOnly",
                                              "value": "NO"
                                            },
                                            "runAfter": {
                                              "Set_variable_10": [
                                                "Succeeded"
                                              ]
                                            }
                                          }
                                        }
                                      },
                                      "cases": {
                                        "Both": {
                                          "actions": {
                                            "Set_variable_1": {
                                              "type": "SetVariable",
                                              "inputs": {
                                                "name": "CommitOnly",
                                                "value": "NO"
                                              }
                                            },
                                            "Set_variable_5": {
                                              "type": "SetVariable",
                                              "inputs": {
                                                "name": "DeploymentOnly",
                                                "value": "NO"
                                              },
                                              "runAfter": {
                                                "Set_variable_1": [
                                                  "Succeeded"
                                                ]
                                              }
                                            }
                                          },
                                          "case": 538000000
                                        },
                                        "Commit_Only": {
                                          "actions": {
                                            "Set_variable_6": {
                                              "type": "SetVariable",
                                              "inputs": {
                                                "name": "CommitOnly",
                                                "value": "YES"
                                              }
                                            },
                                            "Set_variable_7": {
                                              "type": "SetVariable",
                                              "inputs": {
                                                "name": "DeploymentOnly",
                                                "value": "NO"
                                              },
                                              "runAfter": {
                                                "Set_variable_6": [
                                                  "Succeeded"
                                                ]
                                              }
                                            }
                                          },
                                          "case": 538000001
                                        },
                                        "Deployment_only": {
                                          "actions": {
                                            "Set_variable_8": {
                                              "type": "SetVariable",
                                              "inputs": {
                                                "name": "CommitOnly",
                                                "value": "NO"
                                              }
                                            },
                                            "Set_variable_9": {
                                              "type": "SetVariable",
                                              "inputs": {
                                                "name": "DeploymentOnly",
                                                "value": "YES"
                                              },
                                              "runAfter": {
                                                "Set_variable_8": [
                                                  "Succeeded"
                                                ]
                                              }
                                            }
                                          },
                                          "case": 538000002
                                        }
                                      },
                                      "runAfter": {
                                        "Update_new_beginDateTime": [
                                          "Succeeded"
                                        ]
                                      }
                                    }
                                  },
                                  "metadata": {
                                    "operationMetadataId": "4bfc9c16-37e4-4432-b689-b07d4594e1c8"
                                  }
                                }
                              },
                              "case": 538000000
                            },
                            "Prod": {
                              "actions": {
                                "For_each_3": {
                                  "type": "Foreach",
                                  "foreach": "@outputs('List_Solutions_to_deploy')?['body/value']",
                                  "actions": {
                                    "Get_Solution_Name_1": {
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "parameters": {
                                          "entityName": "dyna_solutions",
                                          "recordId": "@item()?['_dyna_solution_value']"
                                        },
                                        "host": {
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                          "operationId": "GetItem",
                                          "connectionName": "shared_commondataserviceforapps"
                                        }
                                      },
                                      "metadata": {
                                        "operationMetadataId": "f7450c4f-a243-4005-80ef-5fa26cf317c8"
                                      }
                                    },
                                    "Condition_Power_Pages_1": {
                                      "type": "If",
                                      "expression": {
                                        "and": [
                                          {
                                            "not": {
                                              "equals": [
                                                "@item()?['_dyna_powerpages_value']",
                                                "@null"
                                              ]
                                            }
                                          }
                                        ]
                                      },
                                      "actions": {
                                        "Get_Power_Pages_1": {
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "parameters": {
                                              "entityName": "dyna_powerpageses",
                                              "recordId": "@item()?['_dyna_powerpages_value']"
                                            },
                                            "host": {
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                              "operationId": "GetItem",
                                              "connectionName": "shared_commondataserviceforapps"
                                            }
                                          },
                                          "metadata": {
                                            "operationMetadataId": "36f88470-e748-4e43-9422-470f0e4029ce"
                                          }
                                        },
                                        "Set_variable_Power_Pages_2": {
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "PowerPages",
                                            "value": "@body('Get_Power_Pages_1')?['dyna_name']"
                                          },
                                          "runAfter": {
                                            "Get_Power_Pages_1": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "4e3981a5-fd92-486f-9629-dfa117f6f4e0"
                                          }
                                        }
                                      },
                                      "else": {
                                        "actions": {}
                                      },
                                      "runAfter": {
                                        "Get_Solution_Name_1": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "d1dfbe50-6471-4995-8661-43f0cc9d338e"
                                      }
                                    },
                                    "Update_new_beginDateTime_2": {
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "parameters": {
                                          "entityName": "dyna_almdeployments",
                                          "recordId": "@variables('DeploymentId')",
                                          "item/dyna_begindatetime": "@variables('utcNow')"
                                        },
                                        "host": {
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                          "operationId": "UpdateRecord",
                                          "connectionName": "shared_commondataserviceforapps"
                                        }
                                      },
                                      "runAfter": {
                                        "Condition_Power_Pages_1": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "869671e1-4476-4b8d-baaa-80eb20908979"
                                      }
                                    },
                                    "Run_a_Deployment_Process_2": {
                                      "type": "Workflow",
                                      "inputs": {
                                        "host": {
                                          "workflowReferenceName": "1fa9984d-555a-ef11-a317-00224806bd16"
                                        },
                                        "body": {
                                          "text": "PROD",
                                          "text_1": "@body('Get_Solution_Name_1')?['dyna_name']",
                                          "text_2": "null",
                                          "text_3": "null",
                                          "text_4": "@variables('DeploymentId')",
                                          "text_5": "@item()?['dyna_almsolutionid']"
                                        }
                                      },
                                      "runAfter": {
                                        "Update_new_beginDateTime_2": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "45c2edf8-d4a5-4b03-93c3-cb5a980fbd2d"
                                      }
                                    }
                                  },
                                  "metadata": {
                                    "operationMetadataId": "33352add-4369-41b2-8bad-344eb675e06b"
                                  }
                                }
                              },
                              "case": 538000001
                            }
                          },
                          "runAfter": {
                            "List_Solutions_to_deploy": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "35ceec3b-a08b-49a7-8777-781f23e704db"
                          }
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "17132bea-dd4f-4beb-8cad-055c100f11b3"
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "runAfter": {
                    "First_time_or_not": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8b568979-ad2c-45fe-bde7-44d7549c8f18"
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Set_DeliveryType": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "20f0d43d-fb73-4ba4-a2e8-1c7e5cf6cd93"
              }
            },
            "Set_DeploymentId": {
              "type": "SetVariable",
              "inputs": {
                "name": "DeploymentId",
                "value": "@item()?['dyna_almdeploymentid']"
              },
              "metadata": {
                "operationMetadataId": "cdd64a4c-fd56-4623-b210-8a1ddd3bd916"
              }
            },
            "Set_DeliveryType": {
              "type": "SetVariable",
              "inputs": {
                "name": "DeliveryType",
                "value": "@item()?['dyna_deliverytype']"
              },
              "runAfter": {
                "Set_DeploymentId": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ea2361a3-76f7-4f70-87bf-f6bbc2982a99"
              }
            }
          },
          "runAfter": {
            "Initialize_DeploymentOnly": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b8ff5699-9068-4ad7-9ea4-9bdda800090a"
          }
        },
        "Initialize_currentDateTime": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "currentDateTime",
                "type": "string",
                "value": "@addMinutes(utcNow(),1)"
              }
            ]
          },
          "runAfter": {
            "List_Deployments_in_Scheduling_only": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1306efca-2ab0-4f72-83a8-5c34ba3c22fb"
          }
        },
        "Initialize_FinalDateTime": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FinalDateTime",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "For_each_1": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "32e7a73e-8248-4a2f-ac50-71390e0cbbc8"
          }
        },
        "Initialize_compareDateTime": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "compareDateTime",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_currentDateTime": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "826d7496-6fb3-4753-9f76-33dd34588ef8"
          }
        },
        "For_each_1": {
          "type": "Foreach",
          "foreach": "@outputs('List_Deployments_in_Scheduling_only')?['body/value']",
          "actions": {
            "Set_compareDateTime_1": {
              "type": "SetVariable",
              "inputs": {
                "name": "compareDateTime",
                "value": "@items('For_each_1')?['dyna_begindatetime']"
              },
              "metadata": {
                "operationMetadataId": "625c869c-343f-4e8a-b55e-6d05b3eddb91"
              }
            }
          },
          "runAfter": {
            "Initialize_compareDateTime": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "48c79bdd-b3da-4952-9e83-81a4f4685bf7"
          }
        },
        "Initialize_LaunchDeployment": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "LaunchDeployment",
                "type": "boolean",
                "value": false
              }
            ]
          },
          "runAfter": {
            "Initialize_FinalDateTime": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "82c414ab-ebaf-4b69-a24c-3ccdb22601a4"
          }
        },
        "Initialize_DeploymentId": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DeploymentId",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_LaunchDeployment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "02ebaf72-08ec-4f9f-bdd4-ae72241b700b"
          }
        },
        "Initialize_DeliveryType": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DeliveryType",
                "type": "integer"
              }
            ]
          },
          "runAfter": {
            "Initialize_DeploymentId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a26ceb16-9e4a-4461-b473-ae88a83e6aa5"
          }
        },
        "Initialize_Power_Pages": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PowerPages",
                "type": "string",
                "value": "NA"
              }
            ]
          },
          "runAfter": {
            "Initialize_DeliveryType": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ec65d8e6-bae8-4f08-b5f7-cb91792d93a0"
          }
        },
        "utcNow": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "utcNow",
                "type": "string",
                "value": "@utcNow()"
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "9834a54b-8ed1-4f5c-97ab-f5b88d011ff4"
          }
        },
        "Initialize_CommitOnly": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CommitOnly",
                "type": "string",
                "value": "NO"
              }
            ]
          },
          "runAfter": {
            "Initialize_Power_Pages": [
              "Succeeded"
            ]
          }
        },
        "Initialize_DeploymentOnly": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DeploymentOnly",
                "type": "string",
                "value": "NO"
              }
            ]
          },
          "runAfter": {
            "Initialize_CommitOnly": [
              "Succeeded"
            ]
          }
        }
      },
      "description": "Check every 30 minutes if we have a new deployment to run (scheduling)"
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}